flow/database.json
[{"id":"fb7f9e78.1be6d","type":"tab","label":"StepUpDatabase","disabled":false,"info":""},{"id":"aae23db.bb554c","type":"sqlite","z":"fb7f9e78.1be6d","mydb":"cd838d7e.a8bb3","sqlquery":"msg.topic","sql":"","name":"Fuka.DB","x":580,"y":200,"wires":[["2fb368d3.459bc8"]]},{"id":"a089f9cb.99ca88","type":"inject","z":"fb7f9e78.1be6d","name":"Create RT Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE REALTIME(TIMESTAMP INT PRIMARY KEY NOT NULL, VALUE INT NOT NULL, BOOL INT NOT NULL)","payload":"","payloadType":"date","x":360,"y":160,"wires":[["aae23db.bb554c"]]},{"id":"2fb368d3.459bc8","type":"debug","z":"fb7f9e78.1be6d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":200,"wires":[]},{"id":"74fbca0e.b9cdc4","type":"inject","z":"fb7f9e78.1be6d","name":"Create Daily Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE DAILY(TIMESTAMP INT PRIMARY KEY NOT NULL, VALUE INT NOT NULL, BOOL INT NOT NULL)","payload":"","payloadType":"date","x":370,"y":240,"wires":[["aae23db.bb554c"]]},{"id":"cd838d7e.a8bb3","type":"sqlitedb","db":"C:\\Users\\adriank\\Downloads\\fuka.db","mode":"RWC"}]
