flows/base.json
[{"id":"8bdde126.d5a95","type":"tab","label":"ConfigurationFile","disabled":false,"info":""},{"id":"13da5cd2.43fa93","type":"link out","z":"8bdde126.d5a95","name":"AdminAPI.getSettings","links":["7c95c0f.69b604"],"x":1255,"y":120,"wires":[]},{"id":"7b08818d.f3cbc","type":"file in","z":"8bdde126.d5a95","name":"Get FukaSettings.json","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":800,"y":140,"wires":[["6f8d9b59.418d84"]]},{"id":"6f8d9b59.418d84","type":"json","z":"8bdde126.d5a95","name":"To Json","property":"payload","action":"obj","pretty":false,"x":1000,"y":140,"wires":[["1af7053.8b53dfb"]]},{"id":"d4aa285d.4c92e8","type":"inject","z":"8bdde126.d5a95","name":"Save","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"saveSettings","payload":"","payloadType":"date","x":130,"y":100,"wires":[["43449043.cc9d"]]},{"id":"7ee1f9d4.8bd358","type":"file","z":"8bdde126.d5a95","name":"Save settings","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1060,"y":60,"wires":[[]]},{"id":"b0419330.fcbfc","type":"link in","z":"8bdde126.d5a95","name":"ConfigurationFile.getSettings","links":["38b7d764.683a48"],"x":155,"y":160,"wires":[["43449043.cc9d"]]},{"id":"43449043.cc9d","type":"function","z":"8bdde126.d5a95","name":"FukaSettings.json file path","func":"msg.filename = 'FukaSettings.json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":100,"wires":[["cb8d904b.57f2c"]]},{"id":"cb8d904b.57f2c","type":"switch","z":"8bdde126.d5a95","name":"execute by topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"saveSettings","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":100,"wires":[["74754a88.0fd914"],["7b08818d.f3cbc"]]},{"id":"74754a88.0fd914","type":"function","z":"8bdde126.d5a95","name":"Configure FukaSettings.json","func":"msg.payload = {\n    adminToken : 'HelloWorld123.',\n    deploymentId : '-',\n    workflowUrl : '-',\n    commandListenerUrl : '-'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":60,"wires":[["7ee1f9d4.8bd358"]]},{"id":"1af7053.8b53dfb","type":"switch","z":"8bdde126.d5a95","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"AdminAPI.getSettings","vt":"str"},{"t":"eq","v":"Updater.getSettings","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":140,"wires":[["13da5cd2.43fa93"],["268e0256.f3ab1e"]]},{"id":"268e0256.f3ab1e","type":"link out","z":"8bdde126.d5a95","name":"Updater.getSettings","links":[],"x":1255,"y":160,"wires":[]}]
