flows/base.json
[{"id":"a64a8867.86c548","type":"tab","label":"AdminAPI","disabled":false,"info":""},{"id":"38d95549.1ac3fa","type":"tab","label":"ConfigurationFile","disabled":false,"info":""},{"id":"d8ce4e61.573dd","type":"tab","label":"Updater","disabled":false,"info":""},{"id":"42ab3f6e.5db45","type":"modbus-client","name":"Sunful HMI","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"8502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":3,"clientTimeout":900,"reconnectOnTimeout":true,"reconnectTimeout":1500,"parallelUnitIdsAllowed":true},{"id":"89074b3.f4c85b8","type":"modbus-io-config","name":"MyIOFile","path":"C:\\Users\\adriank\\Downloads\\dbsettings","format":"utf8","addressOffset":""},{"id":"8bc4c986.1650d8","type":"http in","z":"a64a8867.86c548","name":"","url":"/admin","method":"get","upload":false,"swaggerDoc":"","x":170,"y":100,"wires":[["9c95434f.cd21f"]]},{"id":"ec989b6b.2b5d28","type":"http response","z":"a64a8867.86c548","name":"200 OK","statusCode":"200","headers":{},"x":1600,"y":225,"wires":[]},{"id":"1e2dcce.7b98833","type":"switch","z":"a64a8867.86c548","name":"Authenticate","property":"req.headers.token","propertyType":"msg","rules":[{"t":"neq","v":"payload.adminToken","vt":"msg"},{"t":"eq","v":"payload.adminToken","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":220,"wires":[["23836bbb.1acb14"],["c0bcc337.d2ad8"]]},{"id":"6555ab10.f9de64","type":"http response","z":"a64a8867.86c548","name":"403 Forbidden","statusCode":"403","headers":{},"x":680,"y":180,"wires":[]},{"id":"3e20f0b5.f1496","type":"switch","z":"a64a8867.86c548","name":"Validate API Type","property":"adminPayload.type","propertyType":"msg","rules":[{"t":"eq","v":"settings","vt":"str"},{"t":"eq","v":"backupflow","vt":"str"},{"t":"eq","v":"restoreflow","vt":"str"},{"t":"eq","v":"url","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":690,"y":260,"wires":[["ec989b6b.2b5d28"],["89fd916c.3de98"],["95f55969.ecf3d8"],["a6ade7e4.fe30f8"],["496d02dc.3a5c8c"]]},{"id":"c0bcc337.d2ad8","type":"function","z":"a64a8867.86c548","name":"Remove adminToken","func":"delete msg.payload.adminToken;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":260,"wires":[["3e20f0b5.f1496"]]},{"id":"23836bbb.1acb14","type":"function","z":"a64a8867.86c548","name":"Add Error","func":"msg.payload = msg.adminPayload;\nmsg.payload.error = 'Unauthorized';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":180,"wires":[["6555ab10.f9de64"]]},{"id":"a6ade7e4.fe30f8","type":"switch","z":"a64a8867.86c548","name":"Contains URL","property":"adminPayload.url","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":485,"wires":[["d31c336.81cebd"],["792aeb0e.cfc394"]]},{"id":"496d02dc.3a5c8c","type":"function","z":"a64a8867.86c548","name":"Add Error","func":"msg.payload = {\n    error : 'Unsupported API'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":405,"wires":[["de9b0a62.d89648"]]},{"id":"de9b0a62.d89648","type":"http response","z":"a64a8867.86c548","name":"404 Not Found","statusCode":"404","headers":{},"x":1180,"y":425,"wires":[]},{"id":"d31c336.81cebd","type":"function","z":"a64a8867.86c548","name":"Add Error","func":"msg.payload = {\n    error : 'Requires a valid URL'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":465,"wires":[["de9b0a62.d89648"]]},{"id":"f33f2041.37c26","type":"http request","z":"a64a8867.86c548","name":"Get flow","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":980,"y":545,"wires":[["aa783241.31"]]},{"id":"792aeb0e.cfc394","type":"function","z":"a64a8867.86c548","name":"EXTERNAL GET","func":"return {\n    url : msg.adminPayload.url,\n    method : 'GET',\n    headers : { 'Content-Type' : 'application/json' },\n    rejectUnauthorized : false,\n    requestTimeout : 5000\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":545,"wires":[["f33f2041.37c26"]]},{"id":"aa783241.31","type":"function","z":"a64a8867.86c548","name":"POST FULL FLOW","func":"const { payload } = msg;\nreturn {\n    payload,\n    url : `http://localhost:1880/flows/`,\n    method : 'POST',\n    headers : { \n        'Content-Type' : 'application/json', \n        'Node-RED-Deployment-Type' : 'full' \n    },\n    requestTimeout : 1000\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":545,"wires":[["3bf4121d.65a38e"]]},{"id":"96664e8a.d3963","type":"inject","z":"a64a8867.86c548","name":"Test Deploy WF","props":[{"p":"payload"},{"p":"adminPayload.url1","v":"https://raw.githubusercontent.com/fukatechnologies/gateway/master/flows/firstrun.json","vt":"str"},{"p":"adminPayload.url","v":"http://localhost:1880/flows","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":540,"wires":[["792aeb0e.cfc394"]]},{"id":"89fd916c.3de98","type":"http request","z":"a64a8867.86c548","name":"backupflow","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/flows","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":285,"wires":[["2f64ec62.cf13e4"]]},{"id":"2f64ec62.cf13e4","type":"file","z":"a64a8867.86c548","name":"","filename":"fukaFlow.json.backup","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1200,"y":285,"wires":[["ec989b6b.2b5d28"]]},{"id":"1ac02f79.974231","type":"file in","z":"a64a8867.86c548","name":"","filename":"fukaFlow.json.backup","format":"","chunk":false,"sendError":false,"encoding":"none","x":1200,"y":345,"wires":[["3bf4121d.65a38e"]]},{"id":"3bf4121d.65a38e","type":"http request","z":"a64a8867.86c548","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":345,"wires":[["ec989b6b.2b5d28"]]},{"id":"95f55969.ecf3d8","type":"function","z":"a64a8867.86c548","name":"Restore flow","func":"return {\n    url : `http://localhost:1880/flows/`,\n    method : 'POST',\n    headers : { \n        'Content-Type' : 'application/json', \n        'Node-RED-Deployment-Type' : 'full' \n    },\n    requestTimeout : 1000\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":345,"wires":[["1ac02f79.974231"]]},{"id":"aed4dc01.fcabc","type":"debug","z":"a64a8867.86c548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":300,"wires":[]},{"id":"9c95434f.cd21f","type":"function","z":"a64a8867.86c548","name":"As adminPayload","func":"msg.adminPayload = msg.payload;\nmsg.adminPayload.url = msg.req.headers.url;\nmsg.topic = 'AdminAPI.getSettings';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":100,"wires":[["1434a7f.02e3858"]]},{"id":"e00c67a4.bbb768","type":"link out","z":"38d95549.1ac3fa","name":"AdminAPI.getSettings","links":["b4bd361b.b00f68"],"x":1255,"y":120,"wires":[]},{"id":"9e29cbc5.c378e8","type":"file in","z":"38d95549.1ac3fa","name":"Get FukaSettings.json","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":800,"y":140,"wires":[["a4c94fb6.34f07"]]},{"id":"a4c94fb6.34f07","type":"json","z":"38d95549.1ac3fa","name":"To Json","property":"payload","action":"obj","pretty":false,"x":1000,"y":140,"wires":[["f95f5899.499cf8"]]},{"id":"b03b3716.072138","type":"inject","z":"38d95549.1ac3fa","name":"Save","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"saveSettings","payload":"","payloadType":"date","x":130,"y":100,"wires":[["6467b811.d64108"]]},{"id":"daa71b9c.d02bb8","type":"file","z":"38d95549.1ac3fa","name":"Save settings","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1060,"y":60,"wires":[[]]},{"id":"b65dc1b9.cd52d","type":"link in","z":"38d95549.1ac3fa","name":"ConfigurationFile.getSettings","links":["1434a7f.02e3858","602193a3.0eb2ec"],"x":155,"y":160,"wires":[["6467b811.d64108"]]},{"id":"6467b811.d64108","type":"function","z":"38d95549.1ac3fa","name":"FukaSettings.json file path","func":"msg.filename = 'FukaSettings.json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":100,"wires":[["860d00a8.e813"]]},{"id":"860d00a8.e813","type":"switch","z":"38d95549.1ac3fa","name":"execute by topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"saveSettings","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":100,"wires":[["b84c46b4.94d1e8"],["9e29cbc5.c378e8"]]},{"id":"b84c46b4.94d1e8","type":"function","z":"38d95549.1ac3fa","name":"Configure FukaSettings.json","func":"msg.payload = {\n    adminToken : 'HelloWorld123.',\n    deploymentId : '-',\n    workflowUrl : '-',\n    commandListenerUrl : '-',\n    firebaseUrl : '-',\n    authkey : '-',\n    deploymentId : '-'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":60,"wires":[["daa71b9c.d02bb8"]]},{"id":"1434a7f.02e3858","type":"link out","z":"a64a8867.86c548","name":"","links":["b65dc1b9.cd52d"],"x":615,"y":100,"wires":[]},{"id":"b4bd361b.b00f68","type":"link in","z":"a64a8867.86c548","name":"","links":["e00c67a4.bbb768"],"x":115,"y":260,"wires":[["aed4dc01.fcabc","1e2dcce.7b98833"]]},{"id":"f95f5899.499cf8","type":"switch","z":"38d95549.1ac3fa","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"AdminAPI.getSettings","vt":"str"},{"t":"eq","v":"Updater.getSettings","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":140,"wires":[["e00c67a4.bbb768"],["74012874.52bf48"]]},{"id":"74012874.52bf48","type":"link out","z":"38d95549.1ac3fa","name":"Updater.getSettings","links":["29da02e1.3846ae"],"x":1255,"y":160,"wires":[]},{"id":"d1bdda99.99af98","type":"inject","z":"d8ce4e61.573dd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"1","topic":"Updater.getSettings","payload":"","payloadType":"date","x":130,"y":80,"wires":[["602193a3.0eb2ec"]]},{"id":"90c9b10.6114c5","type":"function","z":"d8ce4e61.573dd","name":"Delete command","func":"const { configs } = msg;\nconst { authkey, deploymentId, firebaseUrl, workflowUrl } = configs;\n\nreturn {\n    configs,\n    url : `${firebaseUrl}/${deploymentId}/command/new.json?auth=${authkey}`,\n    method : 'DELETE',\n    rejectUnauthorized : false ,\n    requestTimeout : 5000\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":300,"wires":[["6d857f44.e9a9a"]]},{"id":"6d857f44.e9a9a","type":"http request","z":"d8ce4e61.573dd","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":240,"wires":[["7ad7f64.3d04108"]]},{"id":"602193a3.0eb2ec","type":"link out","z":"d8ce4e61.573dd","name":"","links":["b65dc1b9.cd52d"],"x":235,"y":80,"wires":[]},{"id":"29da02e1.3846ae","type":"link in","z":"d8ce4e61.573dd","name":"","links":["74012874.52bf48"],"x":295,"y":80,"wires":[["d8bcc030.b40d5"]]},{"id":"7ad7f64.3d04108","type":"debug","z":"d8ce4e61.573dd","name":"Here","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":240,"wires":[]},{"id":"d8bcc030.b40d5","type":"function","z":"d8ce4e61.573dd","name":"Save configs","func":"msg.configs = {\n  'adminToken': 'HelloWorld123.',\n  'deploymentId': '14364541c65441623544c4',\n  'workflowUrl': '-',\n  'commandListenerUrl': '-',\n  'firebaseUrl': 'https://fuka-technologies.firebaseio.com',\n  'authkey': 'AYMgafmbudBz32x2Ji8JWMtipjp1lmKZC5B8opN9'\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":80,"wires":[["cb04b5d3.0f44d8"]]},{"id":"e824b9d8.5bbbe8","type":"switch","z":"d8ce4e61.573dd","name":"Payload check","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":180,"wires":[["89a6df27.14df8"]]},{"id":"cb04b5d3.0f44d8","type":"function","z":"d8ce4e61.573dd","name":"Get command","func":"const { configs } = msg;\nconst { authkey, deploymentId, firebaseUrl, workflowUrl } = configs;\n\nreturn {\n    configs,\n    url : `${firebaseUrl}/${deploymentId}/command/new.json?auth=${authkey}`,\n    method : 'GET',\n    rejectUnauthorized : false ,\n    requestTimeout : 5000\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":80,"wires":[["a5ee8741.5844d8"]]},{"id":"a5ee8741.5844d8","type":"http request","z":"d8ce4e61.573dd","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":80,"wires":[["e824b9d8.5bbbe8"]]},{"id":"a611ac6d.b48c1","type":"function","z":"d8ce4e61.573dd","name":"Update command","func":"const { configs, payload } = msg;\nconst { authkey, deploymentId, firebaseUrl, workflowUrl } = configs;\n\nreturn {\n    configs, \n    payload,\n    url : `${firebaseUrl}/${deploymentId}/command/old.json?auth=${authkey}`,\n    method : 'PUT',\n    rejectUnauthorized : false ,\n    requestTimeout : 5000\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":240,"wires":[["6d857f44.e9a9a","90c9b10.6114c5"]]},{"id":"89a6df27.14df8","type":"function","z":"d8ce4e61.573dd","name":"AdminAPI","func":"const { configs, payload } = msg;\nconst { adminToken, authkey, deploymentId, firebaseUrl, workflowUrl } = configs;\n\nreturn {\n    configs, \n    payload,\n    url : `http://localhost:1880/admin?type=${payload.type}`,\n    headers : {\n        token : adminToken,\n        url : payload.url\n    },\n    method : 'GET',\n    requestTimeout : 5000\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":180,"wires":[["6d857f44.e9a9a","a611ac6d.b48c1"]]}]
