flows/firstrun.json
[{"id":"18688bee.871194","type":"tab","label":"First install","disabled":false,"info":""},{"id":"42ab3f6e.5db45","type":"modbus-client","name":"Sunful HMI","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"8502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":3,"clientTimeout":900,"reconnectOnTimeout":true,"reconnectTimeout":1500,"parallelUnitIdsAllowed":true},{"id":"cd838d7e.a8bb3","type":"sqlitedb","db":"C:\\Users\\adriank\\Downloads\\fuka.db","mode":"RWC"},{"id":"89074b3.f4c85b8","type":"modbus-io-config","name":"MyIOFile","path":"C:\\Users\\adriank\\Downloads\\dbsettings","format":"utf8","addressOffset":""},{"id":"9d06afa3.f47ae","type":"http request","z":"18688bee.871194","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":80,"wires":[["5e5fc29b.6224fc"]]},{"id":"e6d34c43.5ea9c","type":"inject","z":"18688bee.871194","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["f5ecc51c.7c4988"]]},{"id":"f5ecc51c.7c4988","type":"function","z":"18688bee.871194","name":"Full Deploy","func":"return {\n    url : 'https://raw.githubusercontent.com/fukatechnologies/gateway/master/flows/full.json',\n    method : 'GET',\n    headers : { 'Content-Type' : 'application/json' },\n    rejectUnauthorized : false,\n    requestTimeout : 5000\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":80,"wires":[["9d06afa3.f47ae"]]},{"id":"5e5fc29b.6224fc","type":"function","z":"18688bee.871194","name":"POST FULL FLOW","func":"const { payload } = msg;\nreturn {\n    payload,\n    url : `http://localhost:1880/flows/`,\n    method : 'POST',\n    headers : { \n        'Content-Type' : 'application/json', \n        'Node-RED-Deployment-Type' : 'full' \n    },\n    requestTimeout : 1000\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":80,"wires":[["138d6171.68d90f"]]},{"id":"138d6171.68d90f","type":"http request","z":"18688bee.871194","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":80,"wires":[[]]}]
