flows/firstrun.json
[{"id":"1b1eac24.8961e4","type":"tab","label":"Deploy Flow","disabled":false,"info":""},{"id":"cd838d7e.a8bb3","type":"sqlitedb","db":"C:\\Users\\adriank\\Downloads\\fuka.db","mode":"RWC"},{"id":"42ab3f6e.5db45","type":"modbus-client","name":"Sunful HMI","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"8502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":3,"clientTimeout":900,"reconnectOnTimeout":true,"reconnectTimeout":1500,"parallelUnitIdsAllowed":true},{"id":"79a83e73.489","type":"firebase admin","name":"Fuka-Technologies"},{"id":"52c49f5c.f85f9","type":"inject","z":"1b1eac24.8961e4","name":"","props":[{"p":"payload"},{"p":"url","v":"https://raw.githubusercontent.com/fukatechnologies/gateway/master/flows/firstrun.json","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["47bea5c0.e7e23c"]]},{"id":"fe9b44a0.701618","type":"http request","z":"1b1eac24.8961e4","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":60,"wires":[["f48ca471.227038"]]},{"id":"c412a83a.dbe768","type":"debug","z":"1b1eac24.8961e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":120,"wires":[]},{"id":"47bea5c0.e7e23c","type":"function","z":"1b1eac24.8961e4","name":"GET INSTRUCTION FLOW","func":"const { payload, url } = msg;\nreturn {\n    url,\n    payload,\n    method : 'GET',\n    headers : { 'Content-Type' : 'application/json' },\n    rejectUnauthorized : false ,\n    requestTimeout : 2000\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":60,"wires":[["fe9b44a0.701618"]]},{"id":"eb00eb5f.4f1bf8","type":"function","z":"1b1eac24.8961e4","name":"POST FULL FLOW","func":"const { payload } = msg;\nreturn {\n    payload,\n    url : `http://localhost:1880/flows/`,\n    method : 'POST',\n    headers : { 'Content-Type' : 'application/json', 'Node-RED-Deployment-Type' : 'reload' },\n    requestTimeout : 1000\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":120,"wires":[["7a5f520e.1e645c"]]},{"id":"f48ca471.227038","type":"json","z":"1b1eac24.8961e4","name":"","property":"payload","action":"","pretty":false,"x":770,"y":60,"wires":[["eb00eb5f.4f1bf8"]]},{"id":"7a5f520e.1e645c","type":"http request","z":"1b1eac24.8961e4","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":120,"wires":[["c412a83a.dbe768"]]}]
