flows/full.json
{"flows":[{"id":"a64a8867.86c548","type":"tab","label":"AdminAPI","disabled":false,"info":""},{"id":"38d95549.1ac3fa","type":"tab","label":"ConfigurationFile","disabled":false,"info":""},{"id":"d8ce4e61.573dd","type":"tab","label":"Updater","disabled":false,"info":""},{"id":"3d881706.03f8d8","type":"tab","label":"Fuka Periodic Pool","disabled":false,"info":""},{"id":"42ab3f6e.5db45","type":"modbus-client","name":"Sunful HMI","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"8502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":3,"clientTimeout":900,"reconnectOnTimeout":true,"reconnectTimeout":1500,"parallelUnitIdsAllowed":true},{"id":"89074b3.f4c85b8","type":"modbus-io-config","name":"MyIOFile","path":"C:\\Users\\adriank\\Downloads\\dbsettings","format":"utf8","addressOffset":""},{"id":"8bc4c986.1650d8","type":"http in","z":"a64a8867.86c548","name":"","url":"/admin","method":"get","upload":false,"swaggerDoc":"","x":190,"y":80,"wires":[["6997ce3d.fc6ed"]]},{"id":"ec989b6b.2b5d28","type":"http response","z":"a64a8867.86c548","name":"HTTP Response OK","statusCode":"200","headers":{},"x":1760,"y":240,"wires":[]},{"id":"1e2dcce.7b98833","type":"switch","z":"a64a8867.86c548","name":"Authenticate","property":"adminToken","propertyType":"global","rules":[{"t":"null"},{"t":"neq","v":"req.headers.token","vt":"msg"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":190,"y":260,"wires":[["23836bbb.1acb14"],["23836bbb.1acb14"],["3e20f0b5.f1496","aed4dc01.fcabc"]]},{"id":"6555ab10.f9de64","type":"http response","z":"a64a8867.86c548","name":"403 Forbidden","statusCode":"403","headers":{},"x":660,"y":140,"wires":[]},{"id":"3e20f0b5.f1496","type":"switch","z":"a64a8867.86c548","name":"Validate API Type","property":"adminPayload.type","propertyType":"msg","rules":[{"t":"eq","v":"settings","vt":"str"},{"t":"eq","v":"backupflow","vt":"str"},{"t":"eq","v":"restoreflow","vt":"str"},{"t":"eq","v":"url","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":410,"y":320,"wires":[["8bd5f512.022418"],["f1fcc878.2444b8"],["1ac02f79.974231"],["a6ade7e4.fe30f8"],["496d02dc.3a5c8c"]]},{"id":"23836bbb.1acb14","type":"function","z":"a64a8867.86c548","name":"Add Error","func":"msg.payload.error = 'Unauthorized';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":180,"wires":[["6555ab10.f9de64","aed4dc01.fcabc"]]},{"id":"a6ade7e4.fe30f8","type":"switch","z":"a64a8867.86c548","name":"Contains URL","property":"adminPayload.url","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":580,"wires":[["792aeb0e.cfc394"],["d31c336.81cebd"]]},{"id":"496d02dc.3a5c8c","type":"function","z":"a64a8867.86c548","name":"Add Error","func":"msg.payload = {\n    error : 'Unsupported API'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":720,"wires":[["de9b0a62.d89648"]]},{"id":"de9b0a62.d89648","type":"http response","z":"a64a8867.86c548","name":"404 Not Found","statusCode":"404","headers":{},"x":920,"y":680,"wires":[]},{"id":"d31c336.81cebd","type":"function","z":"a64a8867.86c548","name":"Add Error","func":"msg.payload = {\n    error : 'Requires a valid URL'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":640,"wires":[["de9b0a62.d89648"]]},{"id":"f33f2041.37c26","type":"http request","z":"a64a8867.86c548","name":"Get flow","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":900,"y":520,"wires":[["9b9a075e.ccd798"]]},{"id":"792aeb0e.cfc394","type":"function","z":"a64a8867.86c548","name":"EXTERNAL GET","func":"return {\n    ...msg,\n    url : msg.adminPayload.url,\n    method : 'GET',\n    headers : { \n        'Content-Type' : 'application/json',\n        'Node-RED-API-Version' : 'v2' },\n    rejectUnauthorized : false,\n    requestTimeout : 5000\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":520,"wires":[["f33f2041.37c26"]]},{"id":"aa783241.31","type":"function","z":"a64a8867.86c548","name":"POST FULL FLOW","func":"const { payload } = msg;\nreturn {\n    payload,\n    url : `http://localhost:1880/flows/`,\n    method : 'POST',\n    headers : { \n        'Content-Type' : 'application/json', \n        'Node-RED-Deployment-Type' : 'full' \n    },\n    requestTimeout : 1000\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":520,"wires":[["3bf4121d.65a38e"]]},{"id":"96664e8a.d3963","type":"inject","z":"a64a8867.86c548","name":"Deploy Full Flow","props":[{"p":"payload"},{"p":"adminPayload.url","v":"https://raw.githubusercontent.com/fukatechnologies/gateway/master/flows/full.json","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":520,"wires":[["792aeb0e.cfc394"]]},{"id":"89fd916c.3de98","type":"http request","z":"a64a8867.86c548","name":"backupflow","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":400,"wires":[["2f64ec62.cf13e4"]]},{"id":"2f64ec62.cf13e4","type":"file","z":"a64a8867.86c548","name":"","filename":"fukaFlow.json.backup","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1140,"y":400,"wires":[["8bd5f512.022418"]]},{"id":"1ac02f79.974231","type":"file in","z":"a64a8867.86c548","name":"","filename":"fukaFlow.json.backup","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":680,"y":460,"wires":[["9dcb3226.17d7e"]]},{"id":"3bf4121d.65a38e","type":"http request","z":"a64a8867.86c548","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1550,"y":520,"wires":[[]]},{"id":"aed4dc01.fcabc","type":"debug","z":"a64a8867.86c548","name":"ADMIN LICENSE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":220,"wires":[]},{"id":"1434a7f.02e3858","type":"link out","z":"a64a8867.86c548","name":"","links":["b65dc1b9.cd52d","ec2b7538.352ee8"],"x":835,"y":80,"wires":[]},{"id":"d1bdda99.99af98","type":"inject","z":"d8ce4e61.573dd","name":"Force Update","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":"30","topic":"Updater.getSettings","payload":"","payloadType":"date","x":120,"y":120,"wires":[["602193a3.0eb2ec","9a6d7c23.28d82"]]},{"id":"90c9b10.6114c5","type":"function","z":"d8ce4e61.573dd","name":"Delete command","func":"const { configs } = msg;\nconst { authkey, deploymentId, firebaseUrl, workflowUrl } = configs;\n\nreturn {\n    configs,\n    url : `${firebaseUrl}/${deploymentId}/command/new.json?auth=${authkey}`,\n    method : 'DELETE',\n    rejectUnauthorized : false ,\n    requestTimeout : 5000\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":400,"wires":[["6d857f44.e9a9a"]]},{"id":"6d857f44.e9a9a","type":"http request","z":"d8ce4e61.573dd","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":340,"wires":[["7ad7f64.3d04108"]]},{"id":"602193a3.0eb2ec","type":"link out","z":"d8ce4e61.573dd","name":"","links":["b65dc1b9.cd52d","ec2b7538.352ee8"],"x":255,"y":120,"wires":[]},{"id":"29da02e1.3846ae","type":"link in","z":"d8ce4e61.573dd","name":"","links":["74012874.52bf48","ce272473.6af618","ddeec669.70ab38"],"x":315,"y":120,"wires":[["cb04b5d3.0f44d8"]]},{"id":"7ad7f64.3d04108","type":"debug","z":"d8ce4e61.573dd","name":"Updater","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":340,"wires":[]},{"id":"e824b9d8.5bbbe8","type":"switch","z":"d8ce4e61.573dd","name":"Payload check","property":"payload.type","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"runflow","vt":"str"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":3,"x":460,"y":240,"wires":[[],["8673f579.8164a8"],["89a6df27.14df8"]]},{"id":"cb04b5d3.0f44d8","type":"function","z":"d8ce4e61.573dd","name":"Get command","func":"const configs = msg.payload;\nconst { authkey, deploymentId, firebaseUrl, workflowUrl } = configs;\n\nreturn {\n    configs,\n    url : `${firebaseUrl}/${deploymentId}/command/new.json?auth=${authkey}`,\n    method : 'GET',\n    rejectUnauthorized : false ,\n    requestTimeout : 5000\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":120,"wires":[["a5ee8741.5844d8"]]},{"id":"a5ee8741.5844d8","type":"http request","z":"d8ce4e61.573dd","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":180,"wires":[["e824b9d8.5bbbe8"]]},{"id":"a611ac6d.b48c1","type":"function","z":"d8ce4e61.573dd","name":"Update command","func":"const { configs, payload } = msg;\nconst { authkey, deploymentId, firebaseUrl, workflowUrl } = configs;\n\nreturn {\n    configs, \n    payload,\n    url : `${firebaseUrl}/${deploymentId}/command/old.json?auth=${authkey}`,\n    method : 'PUT',\n    rejectUnauthorized : false ,\n    requestTimeout : 5000\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":340,"wires":[["90c9b10.6114c5","6d857f44.e9a9a"]]},{"id":"89a6df27.14df8","type":"function","z":"d8ce4e61.573dd","name":"AdminAPI","func":"const { configs, payload } = msg;\nconst { adminToken, authkey, deploymentId, firebaseUrl, workflowUrl } = configs;\n\nreturn {\n    configs, \n    payload,\n    url : `http://localhost:1880/admin?type=${payload.type}`,\n    headers : {\n        token : adminToken,\n        url : payload.url\n    },\n    method : 'GET',\n    requestTimeout : 5000\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":280,"wires":[["6d857f44.e9a9a","a611ac6d.b48c1"]]},{"id":"8a56f7c0.548468","type":"function","z":"d8ce4e61.573dd","name":"New WF Branch","func":"return {\n    payload : msg.payload.flow,\n    url : 'http://localhost:1880/flow',\n    method : 'POST',\n    headers : {\n        'Content-type' : 'application/json'\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":220,"wires":[["6d857f44.e9a9a"]]},{"id":"f9d67bbe.fe41f8","type":"inject","z":"d8ce4e61.573dd","name":"SingleRunFlow","props":[{"p":"payload.flow123","v":"[{\"id\":\"7ebdccd2.348fc4\",\"type\":\"inject\",\"z\":\"d68f8415.12b888\",\"name\":\"\",\"props\":[{\"p\":\"payload\"},{\"p\":\"topic\",\"vt\":\"str\"},{\"p\":\"update\",\"v\":\"auto\",\"vt\":\"str\"}],\"repeat\":\"\",\"crontab\":\"\",\"once\":true,\"onceDelay\":\"30\",\"topic\":\"auto-update\",\"payload\":\"\",\"payloadType\":\"date\",\"x\":160,\"y\":80,\"wires\":[[\"9ef6e68b.2e1638\"]]},{\"id\":\"9ef6e68b.2e1638\",\"type\":\"http request\",\"z\":\"d68f8415.12b888\",\"name\":\"\",\"method\":\"GET\",\"ret\":\"obj\",\"paytoqs\":\"ignore\",\"url\":\"http://localhost:1880/flows\",\"tls\":\"\",\"persist\":false,\"proxy\":\"\",\"authType\":\"\",\"x\":370,\"y\":80,\"wires\":[[\"1d2a2717.5e4fe9\"]]},{\"id\":\"1d2a2717.5e4fe9\",\"type\":\"change\",\"z\":\"d68f8415.12b888\",\"name\":\"Filter Topic: auto-update\",\"rules\":[{\"t\":\"set\",\"p\":\"payload\",\"pt\":\"msg\",\"to\":\"payload[topic=\\\"auto-update\\\"]\",\"tot\":\"jsonata\"}],\"action\":\"\",\"property\":\"\",\"from\":\"\",\"to\":\"\",\"reg\":false,\"x\":410,\"y\":140,\"wires\":[[\"6f34c498.18940c\"]]},{\"id\":\"9ce7f06b.a4d0b\",\"type\":\"debug\",\"z\":\"d68f8415.12b888\",\"name\":\"\",\"active\":true,\"tosidebar\":true,\"console\":false,\"tostatus\":false,\"complete\":\"false\",\"statusVal\":\"\",\"statusType\":\"auto\",\"x\":830,\"y\":80,\"wires\":[]},{\"id\":\"6f34c498.18940c\",\"type\":\"switch\",\"z\":\"d68f8415.12b888\",\"name\":\"\",\"property\":\"payload.z\",\"propertyType\":\"msg\",\"rules\":[{\"t\":\"nnull\"}],\"checkall\":\"true\",\"repair\":false,\"outputs\":1,\"x\":610,\"y\":140,\"wires\":[[\"9ce7f06b.a4d0b\",\"aa0288d0.1faa18\"]]},{\"id\":\"f7cbcaf6.75d038\",\"type\":\"http request\",\"z\":\"d68f8415.12b888\",\"name\":\"update\",\"method\":\"use\",\"ret\":\"obj\",\"paytoqs\":\"ignore\",\"url\":\"\",\"tls\":\"\",\"persist\":false,\"proxy\":\"\",\"authType\":\"\",\"x\":530,\"y\":200,\"wires\":[[]]},{\"id\":\"aa0288d0.1faa18\",\"type\":\"function\",\"z\":\"d68f8415.12b888\",\"name\":\"Delete WF\",\"func\":\"const id = msg.payload.z;\\n\\nreturn {\\n    url : `http://localhost:1880/flow/${id}`,\\n    method : 'DELETE',\\n    headers : {\\n        'Content-type' : 'application/json'\\n    }\\n};\",\"outputs\":1,\"noerr\":0,\"initialize\":\"\",\"finalize\":\"\",\"x\":370,\"y\":200,\"wires\":[[\"f7cbcaf6.75d038\"]]}]","vt":"json"},{"p":"payload.flow","v":"{\"nodes\":[{\"id\":\"7ebdccd2.348fc4\",\"type\":\"inject\",\"z\":\"890156df.2271d8\",\"name\":\"\",\"props\":[{\"p\":\"payload\"},{\"p\":\"topic\",\"vt\":\"str\"},{\"p\":\"update\",\"v\":\"auto\",\"vt\":\"str\"}],\"repeat\":\"\",\"crontab\":\"\",\"once\":true,\"onceDelay\":\"30\",\"topic\":\"auto-update\",\"payload\":\"\",\"payloadType\":\"date\",\"x\":160,\"y\":80,\"wires\":[[\"9ef6e68b.2e1638\"]]},{\"id\":\"9ef6e68b.2e1638\",\"type\":\"http request\",\"z\":\"890156df.2271d8\",\"name\":\"\",\"method\":\"GET\",\"ret\":\"obj\",\"paytoqs\":\"ignore\",\"url\":\"http://localhost:1880/flows\",\"tls\":\"\",\"persist\":false,\"proxy\":\"\",\"authType\":\"\",\"x\":370,\"y\":80,\"wires\":[[\"1d2a2717.5e4fe9\"]]},{\"id\":\"1d2a2717.5e4fe9\",\"type\":\"change\",\"z\":\"890156df.2271d8\",\"name\":\"Filter Topic: auto-update\",\"rules\":[{\"t\":\"set\",\"p\":\"payload\",\"pt\":\"msg\",\"to\":\"payload[topic=\\\"auto-update\\\"]\",\"tot\":\"jsonata\"}],\"action\":\"\",\"property\":\"\",\"from\":\"\",\"to\":\"\",\"reg\":false,\"x\":410,\"y\":140,\"wires\":[[\"6f34c498.18940c\"]]},{\"id\":\"9ce7f06b.a4d0b\",\"type\":\"debug\",\"z\":\"890156df.2271d8\",\"name\":\"\",\"active\":true,\"tosidebar\":true,\"console\":false,\"tostatus\":false,\"complete\":\"false\",\"statusVal\":\"\",\"statusType\":\"auto\",\"x\":790,\"y\":140,\"wires\":[]},{\"id\":\"6f34c498.18940c\",\"type\":\"switch\",\"z\":\"890156df.2271d8\",\"name\":\"\",\"property\":\"payload.z\",\"propertyType\":\"msg\",\"rules\":[{\"t\":\"nnull\"}],\"checkall\":\"true\",\"repair\":false,\"outputs\":1,\"x\":610,\"y\":140,\"wires\":[[\"9ce7f06b.a4d0b\",\"aa0288d0.1faa18\"]]},{\"id\":\"f7cbcaf6.75d038\",\"type\":\"http request\",\"z\":\"890156df.2271d8\",\"name\":\"update\",\"method\":\"use\",\"ret\":\"obj\",\"paytoqs\":\"ignore\",\"url\":\"\",\"tls\":\"\",\"persist\":false,\"proxy\":\"\",\"authType\":\"\",\"x\":530,\"y\":200,\"wires\":[[]]},{\"id\":\"aa0288d0.1faa18\",\"type\":\"function\",\"z\":\"890156df.2271d8\",\"name\":\"Delete WF\",\"func\":\"const id = msg.payload.z;\\n\\nreturn {\\nurl : `http://localhost:1880/flow/${id}`,\\nmethod : 'DELETE',\\nheaders : {\\n'Content-type' : 'application/json'\\n}\\n};\",\"outputs\":1,\"noerr\":0,\"initialize\":\"\",\"finalize\":\"\",\"x\":370,\"y\":200,\"wires\":[[\"f7cbcaf6.75d038\"]]}],\"label\":\"Updating...\",\"configs\":[]}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":720,"y":100,"wires":[["8673f579.8164a8"]]},{"id":"8673f579.8164a8","type":"switch","z":"d8ce4e61.573dd","name":"Contains flow","property":"payload.flow","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":160,"wires":[["8a56f7c0.548468"]]},{"id":"2f0c4f98.88dc9","type":"inject","z":"a64a8867.86c548","name":"Backup Flow","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":400,"wires":[["f1fcc878.2444b8"]]},{"id":"4014889d.04ed58","type":"inject","z":"a64a8867.86c548","name":"Restore Flow","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":460,"wires":[["1ac02f79.974231"]]},{"id":"f1fcc878.2444b8","type":"function","z":"a64a8867.86c548","name":"Backup flow","func":"return {\n    ...msg,\n    url : `http://localhost:1880/flows/`,\n    method : 'GET',\n    headers : { \n        'Content-Type' : 'application/json', \n        'Node-RED-API-Version' : 'v2'\n    },\n    requestTimeout : 1000\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":400,"wires":[["89fd916c.3de98"]]},{"id":"9dcb3226.17d7e","type":"json","z":"a64a8867.86c548","name":"","property":"payload","action":"obj","pretty":false,"x":890,"y":460,"wires":[["9b9a075e.ccd798"]]},{"id":"2e35be52.55eec2","type":"inject","z":"3d881706.03f8d8","d":true,"name":"Periodic pool","props":[{"p":"payload"},{"p":"topic","v":"{\"ip\":\"localhost\",\"port\":502,\"start\":0,\"end\":13}","vt":"json"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["3bffdac4.7a4076"]]},{"id":"3bffdac4.7a4076","type":"modbus-getter","z":"3d881706.03f8d8","name":"Read Data points","showStatusActivities":false,"showErrors":false,"logIOActivities":true,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"20","server":"42ab3f6e.5db45","useIOFile":false,"ioFile":"89074b3.f4c85b8","useIOForPayload":true,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":360,"y":100,"wires":[["71738dd6.3da664"],[]]},{"id":"71738dd6.3da664","type":"debug","z":"3d881706.03f8d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":80,"wires":[]},{"id":"53abacea.b14414","type":"switch","z":"a64a8867.86c548","name":"ContainsFlow","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":520,"wires":[["aa783241.31","8bd5f512.022418"],["de9b0a62.d89648"]]},{"id":"c5737d59.e7c53","type":"switch","z":"d8ce4e61.573dd","name":"Update State Handler","property":"STATE","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"CHECK_REVISION","vt":"str"},{"t":"eq","v":"DEPLOY_FLOWS","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":740,"y":540,"wires":[[],["34d1bb30.39d724"],["5d90658d.9fab9c","cc589d5f.c79ac"]]},{"id":"68884d20.1b8824","type":"debug","z":"d8ce4e61.573dd","name":"MONITOR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":600,"wires":[]},{"id":"9a6d7c23.28d82","type":"function","z":"d8ce4e61.573dd","name":"CHECK_REVISION","func":"const { payload, topic } = msg; \n\nreturn {\n    topic,\n\tmethod : 'GET',\n\trequestTimeout : 5000,\n\trejectUnauthorized : false,\n\turl : 'https://raw.githubusercontent.com/fukatechnologies/gateway/master/flows/full.json',\n\theaders : { \n\t    'Content-Type' : 'application/json'\n\t},\n\tSTATE : 'CHECK_REVISION'\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":480,"wires":[["c5737d59.e7c53"]]},{"id":"34d1bb30.39d724","type":"http request","z":"d8ce4e61.573dd","name":"Check Rev","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":540,"wires":[["b60cd49d.256a08"]]},{"id":"b60cd49d.256a08","type":"switch","z":"d8ce4e61.573dd","name":"Has deployRev","property":"deployRev","propertyType":"global","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1260,"y":540,"wires":[["81de0f56.a9557"],["b2b0bda8.49d4e"]]},{"id":"43e13b5f.122474","type":"link in","z":"d8ce4e61.573dd","name":"","links":["b2b0bda8.49d4e"],"x":335,"y":540,"wires":[["98535717.4cccb8"]]},{"id":"98535717.4cccb8","type":"function","z":"d8ce4e61.573dd","name":"DEPLOY_FLOWS","func":"const { payload } = msg; \n\nreturn {\n\tmethod : 'POST',\n\trequestTimeout : 5000,\n\trejectUnauthorized : false,\n\turl : 'http://localhost:1880/flows/',\n\theaders : { \n\t    'Content-Type' : 'application/json', \n\t    'Node-RED-Deployment-Type' : 'flows'\n\t},\n\trev : msg.payload.rev,\n\tpayload : msg.payload.flows,\n\tSTATE : 'DEPLOY_FLOWS'\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":540,"wires":[["c5737d59.e7c53"]]},{"id":"5d90658d.9fab9c","type":"http request","z":"d8ce4e61.573dd","name":"Deploy Flows","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":980,"y":600,"wires":[["68884d20.1b8824"]]},{"id":"b2b0bda8.49d4e","type":"link out","z":"d8ce4e61.573dd","name":"Updater.DeployFlows","links":["43e13b5f.122474"],"x":1435,"y":520,"wires":[]},{"id":"cc589d5f.c79ac","type":"change","z":"d8ce4e61.573dd","name":"","rules":[{"t":"set","p":"deployRev","pt":"global","to":"rev","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":660,"wires":[[]]},{"id":"81de0f56.a9557","type":"switch","z":"d8ce4e61.573dd","name":"Not equal with deployRev","property":"payload.rev","propertyType":"msg","rules":[{"t":"null"},{"t":"empty"},{"t":"neq","v":"deployRev","vt":"global"}],"checkall":"false","repair":false,"outputs":3,"x":1230,"y":480,"wires":[[],[],["b2b0bda8.49d4e"]]},{"id":"25dc32ee.bbbfce","type":"inject","z":"d8ce4e61.573dd","name":"RESET","props":[{"p":"payload"},{"p":"rev","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":770,"y":660,"wires":[["cc589d5f.c79ac"]]},{"id":"e00c67a4.bbb768","type":"link out","z":"38d95549.1ac3fa","name":"AdminAPI.getSettings","links":["b4bd361b.b00f68","310d6e51.d61a62"],"x":895,"y":160,"wires":[]},{"id":"9e29cbc5.c378e8","type":"file in","z":"38d95549.1ac3fa","name":"Get FukaSettings.json","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1000,"y":580,"wires":[["350ba260.14152e"]]},{"id":"b03b3716.072138","type":"inject","z":"38d95549.1ac3fa","name":"Save","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"saveSettings","payload":"","payloadType":"date","x":110,"y":80,"wires":[["fd296197.e569f"]]},{"id":"daa71b9c.d02bb8","type":"file","z":"38d95549.1ac3fa","name":"TO FILE","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":740,"y":80,"wires":[["50b59e86.90c8c"]]},{"id":"b65dc1b9.cd52d","type":"link in","z":"38d95549.1ac3fa","name":"ConfigurationFile.getSettings","links":["1434a7f.02e3858","602193a3.0eb2ec","678cfdc.ee37304"],"x":135,"y":300,"wires":[["85325f98.c4ff8"]]},{"id":"f95f5899.499cf8","type":"switch","z":"38d95549.1ac3fa","name":"Return to caller","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"AdminAPI.getSettings","vt":"str"},{"t":"eq","v":"Updater.getSettings","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":180,"wires":[["e00c67a4.bbb768"],["74012874.52bf48"]]},{"id":"74012874.52bf48","type":"link out","z":"38d95549.1ac3fa","name":"Updater.getSettings","links":["29da02e1.3846ae"],"x":895,"y":200,"wires":[]},{"id":"fd296197.e569f","type":"change","z":"38d95549.1ac3fa","name":"FUKA SETTINGS","rules":[{"t":"set","p":"adminToken","pt":"global","to":"SGVsbG9Xb3JsZDEyMy4=","tot":"str"},{"t":"set","p":"filename","pt":"global","to":"FukaSettings.json","tot":"str"},{"t":"set","p":"configs","pt":"global","to":"{\"deploymentId\":\"-\",\"workflowUrl\":\"-\",\"commandListenerUrl\":\"-\",\"firebaseUrl\":\"-\",\"authkey\":\"-\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":80,"wires":[["e212cbe1.416f18"]]},{"id":"e212cbe1.416f18","type":"change","z":"38d95549.1ac3fa","name":"SETTINGS AS LOAD","rules":[{"t":"set","p":"payload","pt":"msg","to":"configs","tot":"global"},{"t":"set","p":"filename","pt":"msg","to":"filename","tot":"global"},{"t":"set","p":"SOURCE","pt":"msg","to":"NEW","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":80,"wires":[["daa71b9c.d02bb8"]]},{"id":"1cfbf0a8.0cbabf","type":"inject","z":"38d95549.1ac3fa","name":"Sync","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"SOURCE","v":"FILE","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"5","topic":"Config sync","payload":"{}","payloadType":"json","x":110,"y":200,"wires":[["3ce57624.338b9a"]]},{"id":"3ce57624.338b9a","type":"change","z":"38d95549.1ac3fa","name":"LOAD SETTINGS","rules":[{"t":"set","p":"configs","pt":"msg","to":"configs","tot":"global"},{"t":"set","p":"filename","pt":"msg","to":"filename","tot":"global"},{"t":"set","p":"adminToken","pt":"msg","to":"adminToken","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"configs","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[["2e61413d.951fee"]]},{"id":"2e61413d.951fee","type":"switch","z":"38d95549.1ac3fa","name":"Has settings","property":"msg.configs and msg.filename and msg.adminToken","propertyType":"jsonata","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":200,"wires":[["f95f5899.499cf8"],["6425f2a0.633fec","385b3870.61c8a8"]]},{"id":"6425f2a0.633fec","type":"switch","z":"38d95549.1ac3fa","name":"Next Source","property":"SOURCE","propertyType":"msg","rules":[{"t":"eq","v":"CLOUD","vt":"str"},{"t":"eq","v":"FILE","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":510,"y":440,"wires":[["4c2404df.2ffeec"],["1687d82.1f40d28"],["e2a0919d.f5a16"]]},{"id":"4c2404df.2ffeec","type":"function","z":"38d95549.1ac3fa","name":"LOADING ERROR!","func":"return {\n    payload : 'FAILED TO LOAD SETTINGS - PLEASE CONFIGURE TO CONTINUE'\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":360,"wires":[[]]},{"id":"1687d82.1f40d28","type":"function","z":"38d95549.1ac3fa","name":"Get from Cloud","func":"msg.SOURCE = 'CLOUD';\nconst { configs } = msg;\nconst { firebaseUrl, deploymentId, authkey } = configs;\n\nreturn {\n    configs,\n    url : `${firebaseUrl}/${deploymentId}/configs.json?auth=${authkey}`,\n    method : 'GET',\n    rejectUnauthorized : false ,\n    requestTimeout : 5000\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":440,"wires":[["b04f2b0c.317238"]]},{"id":"e2a0919d.f5a16","type":"function","z":"38d95549.1ac3fa","name":"Get from File","func":"msg.SOURCE = 'FILE';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":520,"wires":[["385df030.8659b"]]},{"id":"385df030.8659b","type":"change","z":"38d95549.1ac3fa","name":"Load Filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"filename","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":520,"wires":[["9e29cbc5.c378e8"]]},{"id":"85325f98.c4ff8","type":"change","z":"38d95549.1ac3fa","name":"Load to Configs","rules":[{"t":"set","p":"configs","pt":"global","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":320,"wires":[["3ce57624.338b9a"]]},{"id":"50b59e86.90c8c","type":"link out","z":"38d95549.1ac3fa","name":"saveCompleted","links":["4ea58c14.3bae74"],"x":895,"y":120,"wires":[]},{"id":"4ea58c14.3bae74","type":"link in","z":"38d95549.1ac3fa","name":"loadToGlobal","links":["50b59e86.90c8c","9ec3dbb8.1f9e38","2def2339.f39abc","d788ac9e.89b66"],"x":135,"y":340,"wires":[["85325f98.c4ff8"]]},{"id":"385b3870.61c8a8","type":"debug","z":"38d95549.1ac3fa","name":"ATTEMPT SETTING LOAD!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":260,"wires":[]},{"id":"87d01cee.2605f","type":"change","z":"38d95549.1ac3fa","name":"RESET GLOBAL","rules":[{"t":"set","p":"adminToken","pt":"global","to":"SGVsbG9Xb3JsZDEyMy4=","tot":"str"},{"t":"set","p":"filename","pt":"global","to":"FukaSettings.json","tot":"str"},{"t":"delete","p":"configs","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":140,"wires":[["3ce57624.338b9a"]]},{"id":"ce6f2287.56a3a","type":"inject","z":"38d95549.1ac3fa","name":"RESET","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["87d01cee.2605f"]]},{"id":"8bd5f512.022418","type":"switch","z":"a64a8867.86c548","name":"IsHttpReq","property":"req","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1540,"y":280,"wires":[["ec989b6b.2b5d28"],["51f6446a.2ecd7c"]]},{"id":"310d6e51.d61a62","type":"link in","z":"a64a8867.86c548","name":"","links":["e00c67a4.bbb768"],"x":75,"y":260,"wires":[["1e2dcce.7b98833"]]},{"id":"6997ce3d.fc6ed","type":"change","z":"a64a8867.86c548","name":"Move AdminInfo","rules":[{"t":"set","p":"topic","pt":"msg","to":"AdminAPI.getSettings","tot":"str"},{"t":"set","p":"adminPayload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"adminPayload.url","pt":"msg","to":"req.headers.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":80,"wires":[["305097ca.9e7be8"]]},{"id":"305097ca.9e7be8","type":"base64","z":"a64a8867.86c548","name":"Convert authToken","action":"str","property":"req.headers.token","x":670,"y":80,"wires":[["1434a7f.02e3858"]]},{"id":"51f6446a.2ecd7c","type":"debug","z":"a64a8867.86c548","name":"FINAL OUTPUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1740,"y":320,"wires":[]},{"id":"9b9a075e.ccd798","type":"change","z":"a64a8867.86c548","name":"Convert to V1 Flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.flows","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":460,"wires":[["53abacea.b14414"]]},{"id":"b04f2b0c.317238","type":"http request","z":"38d95549.1ac3fa","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":440,"wires":[["350ba260.14152e"]]},{"id":"350ba260.14152e","type":"json","z":"38d95549.1ac3fa","name":"To Json","property":"payload","action":"obj","pretty":false,"x":1180,"y":440,"wires":[["d788ac9e.89b66"]]},{"id":"d788ac9e.89b66","type":"link out","z":"38d95549.1ac3fa","name":"fileLoadSuccess","links":["4ea58c14.3bae74"],"x":1295,"y":440,"wires":[]}],"rev":"391e73dae12518f67e8655bd1a8b02ae"}
